@tailwind base;
@tailwind components;
@tailwind utilities;

.tabla {
  width: 100%;
  margin: 10px;
  overflow-y: scroll;
}

.tabla td,
.tabla th {
  padding: 8px;
  border: 1px solid #ddd;
}

.tabla th {
  background-color: #04aa46;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabla tr:hover {
  background-color: #ddd;
}
